<ul class="list-group-item">
	<span>{{id}}. {{burger_name}}</span>
	<button class="change-devoured btn-outline-success btn-sm float-right" data-id="{{id}}" data-devoured="{{devoured}}" data-burgerName="{{burger_name}}">
		{{#if devoured}}Devour!{{else}}Make Again!{{/if}}
	</button>
</ul>